*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.Container{
  display: table;
  clear: both;
}
.Sidebar{
  float:left;
}
.Content{
  height: 100vh;
  float: left;
}