body {
  margin: 0;
  font-family: 'inter',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'inter';
  src: url('./assets/font/Inter-Regular.otf') format('opentype');
}
  